
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&family=Merriweather:wght@300;400;700;900&display=swap");

/* Incio header */
.header-container{
  background-color: #777;
}

.logo{
  height: 100px;
  width: 139px;
  margin: 10px;
}

.header-container i{
    font-size: 22px;
}

.header-container ul a{
  /* color: #323e2e; */
  color: #eae0da;
  font-family: "Merriweather", serif;
  font-size: 18px;

}

.header-container ul a p{
  margin-top: 7px;
}

.header-container ul a:hover{
  color: #ff8f1b;
}

/* Fin header */
/* Inicio footer */
.footer {
  /* background-color: #374046cc; */
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.footer .copy {
  color: #f0d7d1;
  font-weight: lighter;
  font-size: 13px;
  font-family: "Merriweather", serif;
  padding-top: 9px;
}

.footer-links{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.color-h1-k {
  color: #ff00d2;
}
  
.color-h1-resto {
  color: #ff8f1b;
}
  
.footer li {
  display: inline-block;
}

.footer-links{
  margin-top: 10px;
}
.footer li a {
  text-decoration: none;
  color: #eae0da;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: bold;
}
  
.footer li a:hover {
  color: #ff8f1b;
}

/* Fin footer */
/* Inicio index */
.section-hero {
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/fondo2.jpg);
  background-size: cover;
}

.frase {
  text-align: center;
  font-family: 'Manrope', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300px;
  margin-bottom: 150px;
  padding-top: 250px;
}

.button-hero {
  text-align: center;
}

.button-contacto a{
  text-decoration: none;
  color: #fff;
}

.button-contacto {
  font-family: 'Manrope', sans-serif;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 19px;
  border-radius: 10px;
  background-color: #ff8f1b;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
  cursor: pointer;
}

.button-contacto :hover{
  color: #eee;
  padding: 9px;
}
/* Fin index */
/* Inicio Quienes */
.quienes-somos {
  background-color: #f5f5f5;
  display: flex;
  height: 80vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.card-body{
  padding: 16px 10px 5px 16px;
}

.by-quienes{
  font-size: 1 px;
}

.card-texto{
  margin-bottom: 0;
}

.card-quienes-wan{
  background-color: #ff00d2;
}

.card-quienes-lu{
  background-color: #ff8f1b;
}

.img-quienes img {
  height: 50vh;
  width: 48vw;
}

.texto {
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  width: 40vw;
  flex-direction: column;
  margin-left: 0px;
  padding: 10px;
}

.texto h1 {
  font-size: 45px;
  text-align: center;
}

.texto p {
  margin-top: 60px;
  font-size: 17px;
}

.color-h1-k {
  color: #ff00d2;
}

.color-h1-resto {
  color: #ff8f1b;
}
/* Fin Quienes */
/* Inicio planes */

.planes{
  display: flex;
  flex-direction: column;
  margin: 60px 0px;
  font-family: 'Manrope', sans-serif;
}

.plan-emprendedores{
  align-self: flex-start;
  background-color: #ff00d2;
  border: 1px solid black;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.plan-integral{
  align-self: center;
  background-color: #e6d405;  
  padding: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.asesoria-emprendedores{
  align-self: flex-end;
  background-color: #aa53d7;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.servicios-adicionales{
  align-self: center;
  background-color: #f5edc6;  
  padding: 9px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.planes ul{
  display: inline-block;
  text-align: center;
}

.planes ul li{
  background-color: #fefefe;
  border: 1px solid #ff8f1b ;
}

.servicios-adicionales ul li{
  border: 1px solid #ccc;
}
/* Fin planes */
/* Inicio clientes */
/* Fin Clientes */
/* Inicio contacto */
.div-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  margin: 49px 0 49px 0;
  background-color: #fff;
  border: 3px solid #ff8f1b;
  font-family: "Manrope", sans-serif;
  padding: 10px;
  color: #000;
}

.input-l{
  width: 310px;
}

.button{
  color: #000;
  background-color: #ff8f1b;
  padding: 4px;
  cursor: pointer;
}

.enviar{
  border-radius: 30%;
}
/* Fin contacto */

@media(max-width: 1000px){
  .quienes-somos {
  flex-direction: column;
  height: 120vh;
  }

  .texto{
    width: 80vw;
  }
}

@media(max-width: 768px){
  .quienes-somos{
    height: 180vh;
  }
}


@media(max-width: 420px){
  .quienes-somos{
    height: 210vh;
  }

}